body {
  background-color: #757575;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#form1 {
  display: inline-block;
  border: 1px solid #000000;
  position: fixed;
  top: 20%;
  left: 15px;
  background-color: #ffffff;
  color: #000000;
  text-align: start;
  margin-left: 10px;
  width: 300px;
  padding: 10px;
  border-radius: 25px;
}

label {
  display: inline-block;
  width: auto;
}

input,
textarea {
  display: inline-block;
  border-radius: 5px;
  background-color: #e0e0e0;
  color: #000000;
  margin-top: 5px;
  padding: 5px;
  width: 200px;
}

.time {
  position: absolute;
  top: 10px;
  right: 15px;
}

#form2 {
  display: inline-block;
  border: 1px solid #000000;
  position: relative;
  top: 60px;
  width: auto;
  left: 340px;
  background-color: #5c0606;
  color: #ffffff;
  padding: 10px;
  border-radius: 25px;
}
.formulario {
width: fit-content;
max-width: 100%;
}
.concentracion,
.cualidad {
  display: grid;
  justify-content: center;
}
